<template>
  <div class="q-px-md row">
  </div>
</template>

<script>
// import Timeline from 'src/components/Timeline.vue';
// import Skills from 'components/Skills.vue';

// import hardSkills from 'src/store/hardSkills';

export default {
  name: 'Contact',
  components: {
    // Timeline,
    // Skills,
  },

};
</script>
