<template>

    <div id="timeline" class="col-xs-12 col-sm-12 col-md">

      <Timeline :data="$t('education')" id="education"/>
    </div>
</template>

<script>
// import Timeline from 'src/components/Timeline.vue';
// import Skills from 'components/Skills.vue';

import hardSkills from 'src/store/hardSkills';

export default {
  name: 'Education',
  components: {
    Timeline: () => import(/* webpackChunkName: "timelines" */ 'src/components/Timeline.vue'),
    // Skills: () => import(/* webpackChunkName: "skills" */ 'components/Skills.vue'),
  },
  data() {
    return {
      hardSkills,
    };
  },
};
</script>
