<template>
<q-page padding style="padding-top: 66px">
  <div class="q-px-md row col-xs-12 col-sm-12 col-md">
    <Timeline :data="$t('experiences')" id="experiences"/>
  </div>
<q-page-sticky expand position="top">
            <q-toolbar class="bg-accent text-white">

              <q-toolbar-title>
                {{$t('experiences[0].body')}}
              </q-toolbar-title>
            </q-toolbar>
          </q-page-sticky>
</q-page>
</template>

<script>
// import Timeline from 'src/components/Timeline.vue';
// import Skills from 'components/Skills.vue';

// import hardSkills from 'src/store/hardSkills';

export default {
  name: 'Experiences',
  components: { Timeline: () => import(/* webpackChunkName: "timelines" */ 'src/components/Timeline.vue') },
  data() {
    return {
      // hardSkills,
    };
  },
};
</script>
