<template>
  <div class="q-px-md row">
    <h5 id="intro" class="col-12 text-body1" v-html="$t('intro')">
    </h5>
    <div id="skills" class="col-xs-12 col-sm-12 col-md-4">
      <h3>{{$t('skillsTitle')}}</h3>
      <Skills :data="$t('softSkills')" title="Soft skills" class="q-mb-md" id="softSkills"/>
      <Skills :data="hardSkills" title="Hard skills" id="hardSkills"/>
    </div>
    <q-separator vertical spaced col-md-1/>
    <div id="timeline" class="col-xs-12 col-sm-12 col-md">
      <Timeline :data="$t('experiences')" id="experiences"/>
      <Timeline :data="$t('education')" id="education"/>
    </div>
  </div>
</template>

<script>
// import Timeline from 'src/components/Timeline.vue';
// import Skills from 'components/Skills.vue';

import hardSkills from 'src/store/hardSkills';

export default {
  name: 'PageIndex',
  components: {
    Timeline: () => import(/* webpackChunkName: "timelines" */ 'src/components/Timeline.vue'),
    Skills: () => import(/* webpackChunkName: "skills" */ 'components/Skills.vue'),
  },
  data() {
    return {
      hardSkills,
    };
  },
};
</script>
