<template>
  <div class="row fixed-bottom">
    <div id="intro" class="col-12" v-html="$t('intro')" />
    <div id="skills" class="col-3">
      <span>{{$t('skillsTitle')}}</span>
      <Skills :data="$t('softSkills')" title="Soft skills" />

      <Skills :data="hardSkills" title="Hard skills" class="row"/>
    </div>
          <q-separator vertical spaced />
    <div id="timeline" class="col">
    <Timeline :data="$t('experiences')" print='comfortable' />

    <Timeline :data="$t('education')" print='comfortable' />
    </div>
  </div>

</template>

<script>
import Timeline from 'src/components/Timeline.vue';
import Skills from 'components/Skills.vue';

import hardSkills from 'src/store/hardSkills';

export default {
  name: 'Print',
  components: {
    Timeline,
    Skills,
  },
  mounted() {
    window.print();
    // this.$router.push({ path: '/' });
  },
  data() {
    return {
      hardSkills,
    };
  },
};
</script>
<style lang="sass">

#Hardskills > div
    width: 50%
.fixed-bottom
  position: unset

@media print
  @page
    size: A4 portrait
    // margin: 3mm

  body
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important
    font-size: 11pt !important
    line-height: normal !important
    min-width: unset !important
    min-height: unset !important

  #q-app
    width: 21cm !important
    height: 29.7cm !important
    overflow: hidden !important
    // padding: 3mm
  .fixed-bottom
    margin: 0 3mm
    position: fixed
  @-moz-document url-prefix()
    #intro
      padding: 0 0 10px 0 !important
  #intro
    padding-bottom: 18px
  .q-toolbar__title
    width: 100% !important
    // left: 3mm !important
    padding-left: 0 !important
  .glossy, .q-btn-group--glossy > .q-btn-item
    background-image: unset !important
  .q-btn-group
    box-shadow: unset
  .q-timeline__heading
    font-size: 16pt !important
    height: 30px !important
  .q-timeline__heading-title, #skills span
    font-size: 16pt !important
    line-height: normal
    padding-bottom: 0 !important
    margin-bottom: 0 !important
    margin-left: 0 !important
  .q-timeline__heading-title
    margin-left: -50px !important
  #skills
    width: 4.5cm !important
  #Softskills, #Hardskills
    margin-top: 20px
  #Softskills .text-subtitle
    font-size: 14pt !important
  #Hardskills > div
    width: 50%
    font-size: 11pt
  // .q-timeline__heading
  //   height: 30px !important
  .q-slider
    margin: 8px 0
  #timeline > ul
    margin: 0
  .q-timeline__title
    font-size: 14pt !important
    float: left
  .q-timeline__subtitle
    width: 1cm !important
    padding-right: 4px !important
    text-align: center !important
  .q-timeline__dot
    min-width: unset !important
  .q-timeline__content
    padding-left: 4px !important
    padding-bottom: 6px !important
  .q-timeline__content .text-subtitle2
    float: right
  .details
    font-size: 10pt
  .details, .link2program
    clear: both
  .q-slider--h
    height: 14px !important
    margin-top: 2px
    margin-bottom: 8px
  .q-item
    min-height: unset
  // .q-item__section
  //   margin-bottom: 4px
  #Softskills hr
    margin: 4px 0 !important
</style>
