<template>
  <div id="skills" class=" ">
      <span>{{$t('skillsTitle')}}</span>
      <Skill :data="$t('softSkills')" title="Soft skills" class="row"/>

      <Skill :data="hardSkills" title="Hard skills" class="row"/>
    </div>
</template>

<script>
// import Timeline from 'src/components/Timeline.vue';
// import Skills from 'components/Skills.vue';

import hardSkills from 'src/store/hardSkills';

export default {
  name: 'Skills',
  components: {
    // Timeline: () => import(/* webpackChunkName: "timelines" */ 'src/components/Timeline.vue'),
    Skill: () => import(/* webpackChunkName: "skills" */ 'components/Skills.vue'),
  },
  data() {
    return {
      hardSkills,
    };
  },
};
</script>
