<template>
  <q-list :id="title2id(title)">
    <q-item
      v-for="(item, id) in data"
      :key="id"
    >
      <q-item-section v-bind:class="[!item.value && item.group !== 'interest' ? 'row q-mb-md' : '']">
        <q-item-label v-bind:class="[!item.subText ? '' : 'text-subtitle']">

          {{item.label}}
          
          <q-icon v-show="item.favori" name="star" class="text-orange"/>
          <q-icon v-if="item.group === 'interest'" name="mdi-test-tube" class="text-deep-purple"/>
          <!-- <q-icon name="link" tag='a' :href="item.href" target="__blank" class="text-deep-purple"/> -->
          <q-btn class='print-hide' flat dense v-show="item.href" type='a' :href="item.href" target="__blank" icon="link"/>
        </q-item-label>
        <q-separator v-show="!item.value && item.group !== 'interest'" spaced/>

        <q-item-label
          v-for="(subText, id) in item.subText"
          :key="id"
          class="text-dark"
        >{{subText}}</q-item-label>
        <q-slider
          v-show="item.value"
          readonly
          :value="item.value"
          :min="0"
          :max="10"
          label
          color="deep-purple"
        />
      </q-item-section>
      </q-item>

  </q-list>
</template>

<script>
export default {
  name: 'Skills',
  props: ['data', 'title'],
  methods: {
    title2id(str) {
      return str.replaceAll(/ /g, '');
    },
  },
};
</script>
