<template>
    <q-timeline :layout="print || layout">
      <q-timeline-entry
        v-for="(item, id) in data"
        :key="id"
        v-bind="item"
        color="deep-purple"
      >
        <div v-show="!item.body" class="text-subtitle2">{{item.compagny}}</div>
        <div class="link2program" v-if="item.link !== false" >
          <a :href="item.link" target="__blank">{{item.program}}</a>
        </div>
        <div class="details" v-show="item.text" v-html="str2strong(item)" />
      </q-timeline-entry>
    </q-timeline>

</template>

<script>
export default {
  name: 'Timeline',
  props: ['data', 'print'],
  computed: {
    layout() {
      return this.print ? 'comfortable' : this.$q.screen.lt.sm ? 'dense' : (this.$q.screen.lt.md ? 'dense' : 'comfortable');
    },
  },
  methods: {
    str2strong(item) {
      if (typeof item.strong === 'undefined') {
        return item.text;
      }
      const regex = new RegExp(item.strong.reduce((accu, current) => `${accu}|${current}`), 'gmi');

      return item.text.replace(regex, '<strong>$&</strong>');
    },
  },
};
</script>
