// app global css in Sass form

// header **********************************************************************
.ellipsis
    white-space: unset
.no-wrap
    flex-wrap: wrap

// Intro ***********************************************************************

*, #intro
    line-height: normal

// skills **********************************************************************

#skills > h3
    margin-top: 14px

.mdi-test-tube
    font-size: 16px
.star
    font-size: 12px

.q-timeline__heading-title, #skills > h3
    margin-bottom: 14px
    padding-bottom: 8px
.q-timeline--comfortable .q-timeline__subtitle
    width: 15%

.q-timeline__content > h6, .q-timeline__content > .text-subtitle2
    margin-bottom: 4px


.q-item, .q-item > div, .q-timeline__subtitle
    padding: 0
    padding-right: 4px

.link2program
    margin-bottom: 4px

