<template>
  <div id="q-app">
    <MainLayout />
  </div>
</template>
<script>
import MainLayout from 'layouts/MainLayout';

export default {
  name: 'App',
  components: {
    MainLayout,
  },
};
</script>
<style>
#q-app {
  background-color: #f1f2f6;
}
@media print{
#q-app {
  background-color: #fff;
  -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
  color-adjust: exact !important;                 /*Firefox*/
}}

</style>
