<!DOCTYPE html>
<html>

<head>
  <title>
    <%= productName %>
  </title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="keywords" content="Aurélien Binard devOps Toulouse" data-qmeta="keywords">
  <meta name="author" content="Aurélien Binard, a.binard@demessi.fr" data-qmeta="author">
  <meta name="date" content="Mar. 22, 2021" data-qmeta="date">
  <meta name="reply-to" content="a.binard@demessi.fr" data-qmeta="reply-to">
  <meta property="og:title" content="<%= productName %>" data-qmeta="ogTitle">
  <meta property="og:type" content="profile" data-qmeta="ogType">
  <meta property="og:type" content="fr_FR" data-qmeta="ogLocale">
  <meta property="og:url" content="https://demessi.fr/" data-qmeta="ogUrl">
  <meta property="og:description" content="<%= productDescription %>" data-qmeta="ogDescription">
  <meta property="profile:first_name" content="Aurélien" data-qmeta="profileFirstName">
  <meta property="profile:last_name" content="Binard" data-qmeta="profileLasttName">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
  <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="icon" type="image/ico" href="favicon.ico">
</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>