<template>
  <q-layout view="hhh lpR fff">
    <q-header reveal elevated :reveal-offset="50" class="bg-deep-purple">
      <q-toolbar class="q-pt-xs glossy">
        <q-btn dense flat round icon="menu" @click="left = !left" class="float-left print-hide hidden" />
        <!-- <q-btn dense flat round icon="menu" @click="left = !left" /> -->
        <q-toolbar-title id="jobTitle" class="col-auto">{{$route.params.jobTitle || regexJob}}
        </q-toolbar-title>

        <q-toolbar-title class="text-right">
            Aurélien Binard
        </q-toolbar-title >
        <q-btn-group glossy class="float-right">
          <q-btn
            id="phone"
            dense
            icon='mdi-phone' type="a" href="tel:+33695657555">
            <div class="print-only on-right">06 95 65 75 55</div>
          </q-btn>
          <q-btn
            id="mail"
            dense
            icon='mdi-email' type="a" href="mailto:a.binard@demessi.fr">
            <div class="print-only on-right">a.binard@demessi.fr</div>
          </q-btn>
          <q-btn
            class="print-hide"
            dense
            icon='mdi-github' type="a" href="https://github.com/orebd" target="__blank"/>
          <q-btn
            class="print-hide"
            dense
            icon='mdi-gitlab' type="a" href="https://gitlab.com/orebd/cv" target="__blank"/>
          <q-btn
            dense
            icon='mdi-linkedin' type="a" href="https://www.linkedin.com/in/aurelien-binard/" target="__blank">
            <div class="print-only on-right">/aurelien-binard</div>
          </q-btn>
          <q-btn
            dense
            icon='mdi-printer' :to="{path: toprint}" class="print-hide desktop-only"/>
          <q-btn-toggle
            glossy
            class="print-hide"
            color="primary"
            text-color="deep-purple"
            toggle-color="deep-purple"
            v-model="lang"
            :options="langOptions" />
        </q-btn-group>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="left" side="left" overlay bordered class="print-hide">
      <q-list padding class="menu-list">

            <q-item clickable v-ripple>
              <q-item-section>
                <router-link to="/">Home</router-link>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
              <q-item-section>
                <router-link to="/skills">Skills</router-link>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
              <q-item-section>
                <router-link to="/experiences">Experiences</router-link>
              </q-item-section>
            </q-item>
                        <q-item clickable v-ripple>
              <q-item-section>
                <router-link to="/education">Education</router-link>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
              <q-item-section>
                <router-link to="/contact">Contact</router-link>
              </q-item-section>
            </q-item>

          </q-list>

    </q-drawer>

    <q-page-container>
      <router-view />
      <q-page-scroller class="print-hide" position="bottom-right" :scroll-offset="250" :offset="[18, 18]">
        <q-btn fab icon="keyboard_arrow_up" color="deep-purple" />
      </q-page-scroller>
    </q-page-container>
    <q-footer reveal class="transparent print-hide">
        <q-toolbar class="justify-evenly">
          <!-- <q-toolbar-title>Footer</q-toolbar-title> -->
          <q-btn
            class="print-hide"
            rounded
            color="deep-purple"
            label='Code source'
            align="center"
            icon-right='mdi-gitlab'
            type="a" href="https://gitlab.com/orebd/cv" target="__blank"
          />
          <q-btn
            class="print-hide"
            rounded
            color="deep-purple"
            label='Développer avec Quasar'
            align="center"
            icon-right='img:https://cdn.quasar.dev/logo/svg/quasar-logo.svg'
            type="a" href="https://quasar.dev" target="__blank"
          />
          <q-btn
            class="print-hide"
            rounded
            color="transparent"
            align="center"
            type="a" href="https://observatory.mozilla.org/analyze/demessi.fr" target="__blank"
          >
          <q-img
            class="print-hide"
            rounded
            width=102px
            height=20px
            src="https://img.shields.io/mozilla-observatory/grade/demessi.fr"
            alt="Mozilla HTTP Observatory Grade"
          />
          </q-btn>
        </q-toolbar>
      </q-footer>
  </q-layout>
</template>

<script>

export default {
  name: 'MainLayout',
  data() {
    return {
      left: false,
      // drawer: false,
      // miniState: false,
      lang: this.$i18n.locale,
      langOptions: [
        { label: 'FR', value: 'fr-fr' },
        { label: 'EN', value: 'en-us' },
      ],
      timelineClass: null,
    };
  },
  watch: {
    lang(lang) {
      this.$i18n.locale = lang;
    },
  },
  computed: {
    regexJob() {
      if (this.$q.screen.lt.sm) {
        const regex = new RegExp(`${this.$t('jobRegex')}`, 'gmi');
        return this.$t('job').replace(regex, '');
}
      return this.$t('job');
    },
    toprint() {
      return this.$route.params.jobTitle ? `/print/${this.$route.params.jobTitle}` : '/print';
    },
  },
  mounted() {
    window.onbeforeprint = this.onbeforeprint;
    window.onafterprint = this.onafterprint;
  },
  methods: {
    // remove ' – ' into dom before printing
    onbeforeprint() {
      // this.timelineClass = document.getElementById('experiences').className;
      // document.getElementById('experiences').className = 'q-timeline q-timeline--comfortable q-timeline--comfortable--right';
      Object.values(document.getElementsByClassName('q-timeline__subtitle'))
        .forEach((element) => {
          element.innerText = element.innerText
            .split(' - ')
            .sort((a, b) => b - a)
            .join(' ');
        });
    },
    // insert into dom ' – ' after after printing
    onafterprint() {
      // document.getElementById('experiences').className = this.timelineClass;
      // document.getElementById('educationwindow.location.href = '/';').className = this.timelineClass;
      Object.values(document.getElementsByClassName('q-timeline__subtitle'))
        .forEach((element) => {
          element.innerText = element.innerText
            .split(' ')
            .sort((a, b) => a - b)
            .join(' - ');
        });
      this.$router.push({ path: '/' });
},
    print() {
      window.print();
    },
  },
};
</script>
<style lang="sass">
#jobTitle
  padding: 0
.q-timeline__heading-title
  font-size: 48px
footer .q-btn:hover img, footer .q-btn:hover i
  transition: transform 500ms ease-in-out
  transform: rotate(-1turn)
</style>
